node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE & OS
.vscode/
.idea/
Thumbs.db
